body h1 h2 h3 h4 h5 h6 a {
    font-family: 'Work Sans', sans-serif;
}

/* header stylw */
.header .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 25px;
    font-weight: 500;
}
.header span{
    display: inline-block;
	background: #6278df;
	color: #fff;
	height: 43px;
	width: 40px;
	text-align: center;
	border-radius: 10px;
	font-size: 28px;
	position: relative;
	top: 3px;
}
.header .nav-link {
    color: rgba(0,0,0,.9);
    padding-left: 25px !important;
}




/* Slider Section */
.slider-section{
    background: url(https://i.ibb.co/r0JphkC/mbr-10.jpg) no-repeat center center;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.slider-caption h4 {
    margin-bottom: 35px;
    font-size: 25px;
}
.slider-caption h2 {
    margin-bottom: 50px;
    font-size: 35px;
}

.slider-caption .btn {
    background: #5ba533;
    padding: 6px 50px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.slider-caption .form-control {
    padding: 10px 20px;
}
.about-section{
    background: #f7f9ff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-text-left{
    padding-top: 100px;
    line-height: 2.7rem;
}
.feature-item {
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec {
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-test-sec {
    width: 60%;
    padding: 25px;
}

.left-img-sec img {
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -80px;
}
.bg-color{
    background: #f7f9ff;
}
.pricing-item {
    background-color: #fff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius: 5px;
}
.pricing-item .h3{}
.pricing-item .h5{}
.pricing-item  ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 35px;
}
.pricing-item ul li {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #777;
   
}
.pricing-item ul li span {
    display: inline-block;
    color: #6278df;
    width: 45px;
    font-size: 25px;
    font-weight: bold;
}
.pricing-item-button{}
.pricing-item-button a {
    border: #6278df 2px solid;
    color: #6278df;
    padding: 14px 30px;
    font-size: 22px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
