body h1 h2 h3 h4 h5 h6 a {
    font-family: 'Work Sans', sans-serif;
}

/* header stylw */
.header .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 25px;
    font-weight: 500;
}
.header span{
    display: inline-block;
	background: #6278df;
	color: #fff;
	height: 43px;
	width: 40px;
	text-align: center;
	border-radius: 10px;
	font-size: 28px;
	position: relative;
	top: 3px;
}
.header .nav-link {
    color: rgba(0,0,0,.9);
    padding-left: 25px !important;
}



/* slider section */
.slider-section{
    background: url(./image/banner.jpg) no-repeat center center;
    padding: 200px 0;
}